extends base

block content
  main.main
    .card-container
        if (gardens)
            each garden in gardens
               .card
                    .card__header
                         h1= garden.Name
                    .card__details 
                         h2= `Owner: ${garden.User.username}`
                         h4= `Located in ${garden.Location} `   
                         p= `${garden.PlotsNumber} Plots`
                         .growing_conditions 
                            .condition_item
                                p Sunlight
                            .condition_item
                                p Soil Type
                            .condition_item
                                p Water Source
                            .condition_item_choice
                                p= garden.Sunlight
                            .condition_item_choice
                                p= garden.SoilType
                            .condition_item_choice
                                p= garden.WaterSource
                         a#view(href=`/gardens/${garden.id}`) View On Map            
                      

         
        else 
            h1 TEST   